<% vehicle_type = edit %>
<% form_for :vehicle_type, vehicle_type,
	:url => manage_vehicle_type_url(vehicle_type),
	:html => {
		:ajax_binding => 'ajax_form',
		:ajax_success_element => "vehicle_type_#{vehicle_type.id}",
		:ajax_method => 'PUT',
		:ajax_success_callback => "$('#vehicle_type_#{vehicle_type.id}').removeClass('editing');",
		:id => "edit_vehicle_type_form_#{vehicle_type.id}"
	} do |f| %>
	<div class="span-6 last">
				<div class="span-3">
			<%= vehicle_type.first_error_on :name %>
			<%= f.text_field :name %>
		</div>
		
		<div class="span-3 last">
<%= f.submit :save %>
<%= link_to 'cancel', manage_vehicle_type_url(vehicle_type),
	:ajax_binding => 'ajax_link',
	:ajax_method => 'GET',
	:ajax_success_element => "vehicle_type_#{vehicle_type.id}",
	:ajax_success_callback => "$('#vehicle_type_#{vehicle_type.id}').removeClass('editing');" %>
		</div>
	</div>
<% end %>
