<% vehicle_type = element_container %>
<div id="vehicle_type_<%= vehicle_type.id -%>" class="span-6 last list_item list_item_vehicle_type">
	<%= render :partial => 'manage/vehicle_types/show', :object => vehicle_type %>
</div>