<% color_group = element_container %>
<div id="color_group_<%= color_group.id -%>" class="list_item list_item_color_group">
	<%= render :partial => 'manage/color_groups/show', :object => color_group %>
</div>