<% color_group = new %>
Add a new color_group</br>
<% form_for :color_group, color_group, :url => manage_color_groups_url,
	:html => {
		:ajax_binding => 'ajax_form',
		:ajax_success_element => 'color_group_list',
		:ajax_success_placement => 'append',
		:ajax_success_callback => "$('#color_group_new_link').click();",
		:ajax_error_element => 'color_group_new',
		:ajax_method => 'POST'
	} do |f| %>
	<div class="span-6 last">
				<div class="span-3">
			<%= color_group.first_error_on :name %>
			<%= f.text_field :name %>
		</div>
		
		<div class="span-3 last">
<%= f.submit :add %>
		</div>
	</div>
<% end %>
<%= link_to '', new_manage_color_group_url,
 	:ajax_method => 'GET',
	:ajax_binding => 'ajax_link',
	:ajax_success_element => 'color_group_new',
	:id => 'color_group_new_link'
	%>