<% product_option_vehicle_model = element_container_checkbox %>
<div id="product_option_vehicle_model_<%= product_option_vehicle_model.id -%>" class="span-8 last list_item list_item_product_option_vehicle_model">
	<%= render :partial => 'manage/product_option_vehicle_models/checkbox', :object => product_option_vehicle_model %>
</div>