<% product_option_vehicle_model = new_checkbox_container %>
<div id="product_option_vehicle_model_new_<%= product_option_vehicle_model.vehicle_model_id %>" class="column">
	<%= render :partial => 'new_checkbox', :object => product_option_vehicle_model %>
</div>