<div class="span-10 last large loud highlight text-center border-bottom">
Add a new product
</div>
	<div class="span-10 last">
		<% form_for :product, product, :url => manage_products_url(:_method => :post) do |f| %>
		<div class="span-2 text-right">
			name
		</div>
		<div class="span-6 last">
			<%= product.first_error_on :name %>
			<%= f.text_field :name, :class => 'textfield-6' %>
		</div>
		<div class="span-2 last">
			<%= f.submit :add %>
		</div>
		<% end %>
	</div>
