<%= render :partial => 'section_nav' %>
<div class="span-24 last small-links dash-foreground-color container-padding">
	<div class="span-8 prepend-1 border">
		<%= render :partial => 'manage/products/form', :object => @product %>
	</div>
</div>
