<h1>products</h1>
<div class="span-10">
	<% for product in @products %>
		<%= link_to product.name, edit_manage_product_url(product) %> <%= link_to image_tag('/images/pencil.png'), edit_manage_product_url(product) %> <%= link_to image_tag('/images/delete-16x16.png'), manage_product_url(product), :method => :delete, :confirm => 'Are you sure you want to delete this product?' %><br/>
	<% end %>
</div>
<div class="span-10 last">
	<%= render :partial => 'new', :locals => {:product => @product ? @product : Product.new} %>
</div>