<div class="span-24 last dash-foreground-color container-padding">
<div class="span-12">
<div class="span-12 last">
	<h3>text formatting</h3>
</div>
<div class="span-12 last">
<div class="span-2"><b>bold</b></div> <div class="span-2">*bold*</div>
</div>
<div class="span-12 last margin-bottom">
<div class="span-2"><i>italic</i></div> <div class="span-2">_italic_</div>
</div>
<div class="span-12 last">
<div class="span-6 orange">This text is orange.</div> <div class="span-6 last">p(orange).This text is orange.</div>
</div>
<div class="span-12 last">
<div class="span-6 large">This text is large.</div> <div class="span-6 last">p(large). This text is large.</div>
</div>
<div class="span-12 last">
<div class="span-6">This text is left justified.</div> <div class="span-6 last">p<. This text is left justified.</div>
</div>
<div class="span-12 last">
<div class="span-6 text-center">This text is centered.</div> <div class="span-6 last">p=. This text is centered.</div>
</div>
<div class="span-12 last">
<div class="span-6 text-right">This text is right justified.</div> <div class="span-6 last">p>. This text is right justified.</div>
</div>
<div class="span-12 last">
<div class="span-6 text-center orange large">This text is centered and orange and large.</div> <div class="span-6 last">p=(orange large). This text is centered and orange and large.</div>
</div>
<div class="span-12 last">
	(note: all formatting that uses the 'p' will continue to apply until you hit return twice, which inserts a blank line.)
<div class="span-12 last margin-top">
<h3>web and email links</h3>
</div>
<div class="span-12 last">
<div class="span-3"><a href="mailto:contact@madracingmx.com">contact us</a> </div> <div class="span-9 last"> "contact us":mailto:contact@madracingmx.com</div>
</div>
<div class="span-12 last">
<div class="span-3"><a href="mailto:contact@madracingmx.com">email mark</a> </div> <div class="span-9 last"> "email mark":mailto:mark@madracingmx.com</div>
</div>
<div class="span-12 last">
<div class="span-3"><a href="http://google.com">visit google</a> </div> <div class="span-9 last"> "visit google":http://google.com</div>
</div>
<div class="span-12 last">
<div class="span-3"><a href="http://www.youtube.com/watch?v=ttz5oPpF1Js">wingsuit video!</a> </div> <div class="span-9 last"> "wingsuit video!":http://www.youtube.com/watch?v=ttz5oPpF1Js</div>
</div>
</div>
</div>
<%# javascript_tag "$('#textile_dialog').dialog({autoOpen: false, width: 534, height: 330, position : 'center', title: 'Formatting Help', buttons: { 'Ok': function() { $(this).dialog('close'); } }});" %>