h1 {
	font-size: 30px;
}
.banner {
	font-size: 30px;
	font-weight: bold;
	color: #0E0E0E;
}
.textarea-7 {
	width: 258px;
	height: 103px;
}
.textfield-7 {
	width: 264px;
}
.textfield-1 {
	width: 24px;
}
.textfield-1_5 {
	width: 44px;
}
.span-1_5 {
	width: 50px;
}
.text-right {
	text-align: right;
}
.border-bottom {
	border-bottom: 1px solid grey;
	padding-bottom: 6px;
	margin-bottom: 10px;
}
.image-medium-wrapper {
	height: 150px;
}
.list_item_product_image {
	padding-bottom: 10px;
	margin-bottom: 16px;
	border-bottom: 1px solid #8F8F8F;
}
.editing {
	background-color: #CCCCCC;
}