h1 {
	font-size: 30px;
}
h3 {
	color: #555555;
}
.small-links a{
	font-size: 12px;
}
.banner {
	font-size: 36px;
	font-weight: bold;
	color: #0E0E0E;
}
.textarea-8 {
	width: 298px;
	height: 114px;
}
.textfield-8 {
	width: 304px;
}
.textfield-1 {
	width: 24px;
}
.textfield-1_5 {
	width: 44px;
}
.textfield-2 {
	width: 64px;
}
.textfield-3 {
	width: 104px;
}
.textfield-4 {
	width: 144px;
}
.textfield-5 {
	width: 184px;
}
.textfield-5 {
	width: 224px;
}
.span-1_5 {
	width: 50px;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.highlight {
	background-color: #ff8;
}
div.padding-top {
	padding-top: 10px;
}
div.margin-top {
	margin-top: 10px;
}
div.margin-bottom {
	margin-bottom: 10px;
}
div.border-bottom {
	border-bottom: 1px solid #8F8F8F;
	padding-bottom: 6px;
	margin-bottom: 10px;
}
div.border-top {
	border-top: 1px solid #8F8F8F;
	padding-top: 6px;
	margin-top: 10px;
}
.border-all {
	padding:4px;
	margin:5px;
	border: 1px solid #BBBBBB;
}
.border {
	border-right: 1px solid #8F8F8F;
}
.image-medium-wrapper {
	height: 150px;
}
.list_item_product_image {
	padding-bottom: 10px;
	margin-bottom: 16px;
	border-bottom: 1px solid #8F8F8F;
}
.editing {
	background-color: #DDDDDD;
}
.list_item {
	padding: 5px 0;
}
.error_text {
	color: red;
}
.field-label {
	font-size: 12px;
	color: #555555;
}
a.tiny {
	font-size: 10px;
}
.main-nav-tabs {
	font-size: 18px;
	font-weight: bold;
	color: #CCC;
}

.main-nav-tabs div a{
	text-decoration: none;
}
.container-padding {
	padding: 10px;
}