body {
	background: url('../images/background.jpg');
	background-repeat: no-repeat;
	background-color: #FF5008;
	background-attachment: fixed;
	margin-bottom: 0px;
}
h1 {
	font-size: 30px;
}
h3 {
	color: #555555;
}
a {
	text-decoration: none;
}
hr.heavy {
	color: #444444;
	background-color: #444444;
}
.small-links a{
	font-size: 12px;
}
.banner {
	font-size: 36px;
	font-weight: bold;
	color: #0E0E0E;
}
.textarea-8 {
	width: 298px;
	height: 114px;
}
.textfield-8 {
	width: 304px;
}
.textfield-1 {
	width: 24px;
}
.textfield-1_5 {
	width: 44px;
}
.textfield-2 {
	width: 64px;
}
.textfield-3 {
	width: 104px;
}
.textfield-4 {
	width: 144px;
}
.textfield-5 {
	width: 184px;
}
.span-1_5 {
	width: 50px;
}
.span-1_75 {
	width: 60px;
}
.span-2_5 {
	width: 90px;
}
.span-2_75 {
	width: 100px;
}
.span-3_5 {
	width: 130px;
}
.span-3_75 {
	width: 140px;
}
.span-4_75 {
	width: 180px;
}
.span-13_75 {
	width: 540px;
}
.span-14_5 {
	width: 570px;
}
.span-14_75 {
	width: 580px;
}
.span-1_5, .span-1_75, .span-2_5, .span-3_5, .span-2_75, .span-3_75, .span-4_75, .span-13_75, .span-14_5, .span-14_75, .top-category, .sub-category, .feature_bar, .footer, .footer-cat-spacer {float:left;margin-right:10px;}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.highlight {
	background-color: #ff8;
}
div.padding-top {
	padding-top: 10px;
}
div.padding-bottom {
	padding-bottom: 10px;
}
div.padding-left {
	padding-left: 10px;
}
div.margin-top {
	margin-top: 10px;
}
div.margin-bottom {
	margin-bottom: 10px;
}
div.extra-margin-right {
	margin-right: 25px;
}
div.border-bottom {
	border-bottom: 1px solid #8F8F8F;
	padding-bottom: 6px;
	margin-bottom: 10px;
}
div div.border-top-blue {
	border-top: 1px solid #0597BC;
	padding-top: 6px;
	margin-top: 10px;
}
div.border-top {
	border-top: 1px solid #8F8F8F;
	padding-top: 6px;
	margin-top: 10px;
}
.border-all {
	padding:4px;
	margin:5px;
	border: 1px solid #BBBBBB;
}
.border {
	border-right: 1px solid #8F8F8F;
}
div div.border-blue {
	border-right: 1px solid #0597BC;
}
.image-medium-wrapper {
	height: 110px;
}
.list_item_product_image {
	padding-bottom: 10px;
	margin-bottom: 16px;
	border-bottom: 1px solid #8F8F8F;
}
.editing {
	background-color: #DDDDDD;
}
.list_item {
	padding: 5px 0;
}
.error_text {
	color: red;
}
.field-label {
	font-size: 12px;
	color: #555555;
}
a.tiny {
	font-size: 10px;
}
.main-nav-tabs {
	font-size: 16px;
	font-weight: bold;
	color: #CCC;
}
.main-nav-tabs div a{
	text-decoration: none;
}
.container-padding {
	padding: 10px;
}
.right-frame, .left-frame, .middle-frame, .header, .category-bar, .content-frame, .content-frame-inner, .tagline-spacer, .nav-bar, .nav-spacer, .content-frame-height, .category-bar-border-left, .product-index-margin {
	overflow: hidden;
	position:relative;
	display: block;
	float: left;
	clear: none;
}
.right-frame, .left-frame, .middle-frame, .header, .tagline-spacer, .product-index-margin {
	float:left;
	clear:none;
}
.right-frame, .left-frame{
	width:95px;
}
.header, .middle-frame {
	width: 761px;
}
.header {
	background: url('../images/header.jpg');
	background-position: 0px 0px;
	background-repeat: none;
	padding: 7px 10px;
}
.footer {
	width: 761px;
}
.footer-cat-spacer {
	width: 159px;
}
.category-bar {
	padding: 10px 9px 10px 10px;
	width: 140px;
	height: 762px;
	border-left: 1px solid #FFFFFF;
	background: url('../images/category_bar.jpg');
	background-color: #CACACA;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	line-height: 17px;
	text-align: right;
	z-index: 10;
	line-height: 2em;
}
.category-bar div a {
	color: #2F2F2F;
	font-size: 12px;
	text-decoration: none;
}
.category-bar div a:hover {
	color: #FFFFFF;
}
.content-frame {
	background-color: #FFFFFF;
	background-repeat: repeat-y;
	width: 592px;
	min-height: 800px;
	padding: 10px 0px 10px 9px;
}
.content-frame-height {
	width: 1px;
}
.category-bar-border-left {
	width: 1px;
	background-color: #FFFFFF;
	height: 800px;
}
.block{
	display: block;
}
.header-content {
	height: 136px;
	color: #AAA;
	font-family: Arial;
	font-size: 12px;
}
.header-spacer {
	height: 78px;
}
.header-spacer-2 {
	height: 46px;
}
.tagline-spacer {
	padding-left: 7px;
	font-style: italic;
}
.tagline-spacer-2 {
	padding-left: 22px;
	font-size: 14px;
}
.nav-bar {
/*	top: -782px;
	left: 160px;
*/	width: 600px;
	color: #FFFFFF;
	height: 24px;
}
.nav-bar div {
	padding-top: 3px;
	padding-bottom: 3px;
}
.nav-bar div a{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 11px;
}
.nav-selected {
	background: url('../images/button.jpg');
}
div.nav-spacer {
	width: 1px;
	padding: 0px;
}
.orange, a {
	color: #DF440A;
}
.blue, .blue a {
	color: #0597BC;
}
.blue-background {
	background-color: #0597BC;
}
.yellow {
	color: #E4C42D;
}
.top-category {
	width: 135px;
	padding-right: 5px;
}
div.sub-category {
	width: 145px;
	margin-right: 5px;
}
div.top-category, div.sub-category{
	margin-bottom: 8px;
	line-height: 17px;
}
a.category-selected{
	color: #111111;
	font-weight: bold;
}
.system-message {
	font-size: 18px;
}
div.product-thumb, div.product-thumb-end{
	height: 178px;
	font-size: 11px;
}
div.product-thumb {
	margin-right: 15px;
	padding-right: 14px;
}
div.product-thumb-border {
	border-color: #222222;
}
.product-section-nav {
	padding: 0 10px;
}
.product-row-spacer {
	height: 7px;
	overflow: hidden;
}
div.border {
	border-color: #8F8F8F;
}
.product-index-margin {
	width: 25px;
}
.large {
	font-size: 16px;
}
.bold {
	font-weight: bold;
}
select {
	margin: 0;
	padding: 2px;
}
input[type="submit"] {
	margin: 0;
	padding: 2px;
}
.footer {
	color: #222222;
}
.footer a {
	color: #000000;
}
.feature-bar {
	width: 545px;
	background: url('../images/feature_bar.jpg');
	background-repeat: no-repeat;
	color: #FFFFFF;
	clear: both;
}
.background-solid {
	background-color: #FFFFFF;
}
