<% vehicle_model = edit %>
<% form_for :vehicle_model, vehicle_model,
	:url => manage_vehicle_model_url(vehicle_model),
	:html => {
		:ajax_binding => 'ajax_form',
		:ajax_success_element => "vehicle_model_#{vehicle_model.id}",
		:ajax_method => 'PUT',
		:ajax_success_callback => "$('#vehicle_model_#{vehicle_model.id}').removeClass('editing');",
		:id => "edit_vehicle_model_form_#{vehicle_model.id}"
	} do |f| %>
	<div class="span-6 last">
				<div class="span-3">
			<%= vehicle_model.first_error_on :name %>
			<%= f.text_field :name %>
		</div>
		
		<div class="span-3 last">
<%= f.submit :save %>
<%= link_to 'cancel', manage_vehicle_model_url(vehicle_model),
	:ajax_binding => 'ajax_link',
	:ajax_method => 'GET',
	:ajax_success_element => "vehicle_model_#{vehicle_model.id}",
	:ajax_success_callback => "$('#vehicle_model_#{vehicle_model.id}').removeClass('editing');" %>
		</div>
	</div>
<% end %>
