<% vehicle_model = element_container %>
<div id="vehicle_model_<%= vehicle_model.id -%>" class="list_item list_item_vehicle_model">
	<%= render :partial => 'manage/vehicle_models/show', :object => vehicle_model %>
</div>