<% vehicle_make = element_container %>
<div id="vehicle_make_<%= vehicle_make.id -%>" class="list_item list_item_vehicle_make">
	<%= render :partial => 'manage/vehicle_makes/show', :object => vehicle_make %>
</div>