<% vehicle_make = new %>
Add a new vehicle_make</br>
<% form_for :vehicle_make, vehicle_make, :url => manage_vehicle_makes_url,
	:html => {
		:ajax_binding => 'ajax_form',
		:ajax_success_element => 'vehicle_make_list',
		:ajax_success_placement => 'append',
		:ajax_success_callback => "$('#vehicle_make_new_link').click();",
		:ajax_error_element => 'vehicle_make_new',
		:ajax_method => 'POST'
	} do |f| %>
	<div class="span-6 last">
				<div class="span-3">
			<%= vehicle_make.first_error_on :name %>
			<%= f.text_field :name %>
		</div>
		
		<div class="span-3 last">
<%= f.submit :add %>
		</div>
	</div>
<% end %>
<%= link_to '', new_manage_vehicle_make_url,
 	:ajax_method => 'GET',
	:ajax_binding => 'ajax_link',
	:ajax_success_element => 'vehicle_make_new',
	:id => 'vehicle_make_new_link'
	%>