<% vehicle_make = show %>
<div class="span-12 last">
<div class="span-8">
<%= vehicle_make.name %>
</div>

<div class="span-4 last">
<%= link_to 'edit', edit_manage_vehicle_make_url(vehicle_make),
	:ajax_binding => 'ajax_link',
	:ajax_method => 'GET',
	:ajax_success_element => "vehicle_make_#{vehicle_make.id}",
	:ajax_success_callback => "$('#vehicle_make_#{vehicle_make.id}').addClass('editing');" %> | 
<% unless vehicle_make.product_option_vehicle_makes.any? %>
	<%= link_to 'delete', manage_vehicle_make_url(vehicle_make),
		:ajax_binding => 'ajax_link',
		:ajax_method => 'DELETE',
		:ajax_success_callback => "$('#vehicle_make_#{vehicle_make.id}').remove();",
		:ajax_confirm => 'Are you sure you want to delete this vehicle_make?' %> |
<% end %>
<%= link_to 'models', manage_vehicle_models_url(:vehicle_make_id => vehicle_make.id),
		:ajax_binding => 'ajax_link',
		:ajax_method => 'GET',
		:ajax_success_element => "vehicle_make_models_#{vehicle_make.id}",
		:ajax_success_callback => "$('#vehicle_make_model_header_#{vehicle_make.id}').addClass('editing');$('#vehicle_make_models_link_#{vehicle_make.id}').hide();",
		:id => "vehicle_make_models_link_#{vehicle_make.id}" %>
</div>
</div>