<h1>vehicle_makes</h1>
<div class="span-24 last">
	<div id="vehicle_make_list" class="span-12">
			<div class="span-8">
			Name
		</div>
	
		<div class="span-4 last">
			&nbsp;
		</div>
		<% for vehicle_make in @vehicle_makes %>
			<%= render :partial => "manage/vehicle_makes/element_container", :object => vehicle_make %>
		<% end %>
	</div>
</div>
<div class="span-24 last">
	<div id="vehicle_make_new" class="span-12">
		<%= render :partial => "manage/vehicle_makes/new", :object => VehicleMake.new %>
	</div>
</div>