<% product_image = element_container %>
<div id="product_image_<%= product_image.id -%>" class="span-4 <% if row_end %> last <% end %>list_item list_item_product_image">
	<%= render :partial => 'manage/product_images/show', :object => product_image %>
</div>