<div id="product_image_new">
	<%= render :partial => "manage/product_images/new", :object => ProductImage.new(:product_id => product.id) %>
</div>
<div id="product_image_list" class="span-8 last">
	<%= render :partial => "manage/product_images/plain_index", :object => product %>
</div>