<% product_image = show %>
	<div class="span-4 last image-medium-wrapper">
	<%= image_tag product_image.image.url(:medium) if product_image.image.exists? %>
	</div>
<div class="span-4 last">
<%= product_image.caption.blank? ? '&nbsp;' : product_image.caption %>
</div>

<div class="span-4 last">
<%= link_to 'edit caption', edit_manage_product_image_url(product_image),
	:ajax_binding => 'ajax_link',
	:ajax_method => 'GET',
	:ajax_success_element => "product_image_#{product_image.id}",
	:ajax_success_callback => "$('#product_image_#{product_image.id}').addClass('editing');" %> | 
<%= link_to 'delete', manage_product_image_url(product_image),
	:ajax_binding => 'ajax_link',
	:ajax_method => 'DELETE',
	:ajax_success_callback => "$('#product_image_#{product_image.id}').remove();",
	:ajax_confirm => 'Are you sure you want to delete this product_image?' %>
</div>
