
<div class="span-14_75 last">
	<div class="product-index-margin">&nbsp;</div>
	<div class="span-14 last">
		<div class="span-14 last large bold text-center">
			WELCOME TO MAD RACING MX!
		</div>
<div class="feature-bar padding-left margin-bottom">Featured Products</div>
	<%= render :partial => 'products/thumb', :object => @products %>
</div>
</div>
