
<div class="span-14_75 last">
	<div class="product-index-margin">&nbsp;</div>
	<div class="span-14 last">
		<% if @post.published %>
			<div class="span-14 last text-center"><h1 class="large orange bold"><%= @post.title %></h1></div><br/>
			<%= image_tag(@post.image.url(:original)) if @post.image.exists? %><br/>
			<%= RedCloth.new(@post.body).to_html if @post.body %>
		<% else %>
			<div class="span-14 last text-center"><h1 class="large orange bold">WELCOME TO MAD RACING MX!!</h1></div><br/>
		<% end %>
		<div class="feature-bar padding-left margin-bottom">Featured Products</div>
		<%= render :partial => 'products/thumb', :object => @products %>
	</div>
</div>
