<% for post in @posts %>
	<div class="span-14_75 text-center"><h1 class="large orange bold"><%= post.title %></h1></div><br/>
	<%= image_tag(post.image.url(:original)) if post.image.exists? %><br/>
	<%= RedCloth.new(post.body).to_html if post.body %><br/>
<% end %>
<%= will_paginate @posts %>
<% if @posts.empty? %>
	More News Coming Soon!
<% end %>