<p><b>SHIPPING PRICES to the Continental U.S.</b><br/>
$0-$99.99=7.95 <br/>
$100.00-$199.99=$9.95 <br/>
$200.00-$299.99=$14.95 <br/>
$300.00-$399.99=$17.95 <br/>
$400.00-$499.99=$19.95 <br/>
$500.00 UP=$24.95 <br/>
For 2 day air add $10.00 <br/>
For overnight add $20.00 <br/>
Some orders that include tires, oversized items, chemicals or any products that are prohibited from air shipping will be shipped <b>ground</b> only to the lower 48. These items may include an extra per-item shipping charge.<br/>
</p>
<p>
	<b>SHIPPING PRICES to Canada</b><br/>
UPS, Ground Only<br/>
All taxes and customs are paid – goes right to your door! No hidden charges or extra handling fees
Shipping rate is determined by dollar size of order. All prices are in U.S. Dollars.<br/>
Typical ship times 3-7 business days.
</p>
<p>
<b>Please note: Chemicals like oil, lubes, etc. are excluded from Canada shipping.</b>
<table>
	<tr>
		<th>ORDER TOTAL</th><th>SHIPPING RATE TO CANADA</th>
	</tr>
	<tr>
		<td>0- $99.99</td><td>$30.00</td>
	</tr>
	<tr>
		<td>$100-$199.99</td><td>$54.00</td>
	</tr>
	<tr>
		<td>$200-$299.99</td><td>$75.00</td>
	</tr>
	<tr>
		<td>$300-$399.99</td><td>$100.00</td>
	</tr>
	<tr>
		<td>$400-$499.99</td><td>$125.00</td>
	</tr>
</table>
</p>
Orders over $500 are charged $125 plus $25 for each $100 over the $500

