<% order_item = element_container %>
<div id="order_item_<%= order_item.id -%>" class="span-14_5 last list_item list_item_order_item">
	<%= render :partial => 'order_items/show', :object => order_item %>
</div>