<% size_group = element_container %>
<div id="size_group_<%= size_group.id -%>" class="list_item list_item_size_group">
	<%= render :partial => 'manage/size_groups/show', :object => size_group %>
</div>