<%= render :partial => 'section_nav' %>
<div class="span-24 last dash-foreground-color container-padding">
	<div class="span-24 last border-bottom margin-bottom">
		<div class="span-10">
			<h1>Content for <%= @postable.class.display_name %> <span class="orange"><%= @postable.name %></span></h1>
		</div>
		<div class="span-10">
		</div>
	</div>
	<div class="span-14">
		<% for post in @posts %>
			<%= render :partial => 'show', :object => post %>
		<% end %>
	</div>
</div>