<% category = element_container %>
<div id="category_<%= category.id -%>" class="list_item list_item_category span-11 last">
	<%= render :partial => 'manage/categories/show', :object => category %>
</div>