<div class="span-24 last dash-foreground-color container-padding">

<h1>categories</h1>
<div id="category_list_" class="span-12 last" ui_binding="sortable" ui_url="<%= manage_category_url(:id => :multiple)  %>">
	<% for category in Category.top_level %>
		<%= render :partial => "manage/categories/element_container", :object => category %>
	<% end %>
</div>
<div id="category_new_" class="span-6 last">
	<%= render :partial => "manage/categories/new", :object => Category.new %>
</div>

</div>
<%= javascript_tag 'bindSortables();' %>