<% product_option = element_container %>
<div id="product_option_<%= product_option.id -%>" class="span-10 last list_item list_item_product_option">
	<%= render :partial => 'manage/product_options/show', :object => product_option %>
</div>