<% product_color = element_container %>
<div id="product_color_<%= product_color.id -%>" class="list_item list_item_product_color">
	<%= render :partial => 'manage/product_colors/show', :object => product_color %>
</div>