<% manufacturer = element_container %>
<div id="manufacturer_<%= manufacturer.id -%>" class="list_item list_item_manufacturer">
	<%= render :partial => 'manage/manufacturers/show', :object => manufacturer %>
</div>